
.panel {
  width: 100%;
  display:flex;
  flex-direction: column;

}

.panel__header {
  padding: 10px 20px;
  width: 100%;
  color: #f0f0f0;
  background-color: #002C45;
  font-family: 'Aldrich', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  border-radius: 4px 4px 0 0;
}

.panel__image {
  height: auto;
  max-width: 100%;
}

.panel__heading {
  padding: 1em 2em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fdfdfd;
  border-bottom: 1px solid #f0f0f0;
  font-size: 24px;
  font-family: 'Aldrich', sans-serif;
  line-height: 1.4;
}

.panel__content {
  padding: 2em;
  &.panel__content--dark {
    background-color: #f0f0f0;
    border-left: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
  }
  font-size: 14px;
  line-height: 1.8;
}

.panel__description {
  padding: 20px 20px;
  font-family: 'Open Sans', sans-serif;
  color: #0B0D11;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: left;
  background-color: #f0f0f0;
  border-left: 2px solid #e0e0e0;
  border-right: 2px solid #e0e0e0;
}

.panel__footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #002032;
  padding: 10px 30px;
  color: #f0f0f0;
  border-radius: 0 0 4px 4px;
  .panel__text {
    font-size: 14px;
    font-family: 'Aldrich', sans-serif;
    line-height: 1.4;
  }
}

.panel__button {
  padding: 16px 32px;
  font-family: 'Aldrich', sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.25s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

    &[disabled] {
    background-color: #e0e0e0;
    color: #999;
    border:none;
  }

  &:hover:not([disabled]) {
    transition: all 0.25s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }

  &:active,
  &:focus {
    transition: all 0.25s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.panel__button--action {
  background-color: #007ABE;
  color: #f0f0f0;
  border: 1px solid #006AA4;
  &[disabled] {
    background-color: #e0e0e0;
    color: #999;
    border:none;
  }
  &:hover:not([disabled]) {
    color: #101010;
    background-color: #DDB763;
    border-color: #DDB763;
  }
  &:active,
  &:focus {
    color: #101010;
    background-color: #DDB763;
    border-color: #DDB763;
  }
}

.panel__button--destructive {
  background-color: #ba251e;
  color: #f0f0f0;
  border: none;

  &:hover:not([disabled]) {
    background-color: #d0312a;
  }

  &:active,
  &:focus {
    background-color: #d0312a;
  }
}

