.app-details__questions {
  font-weight: 600;
  font-size: 12px;
  color: #999;
  margin-bottom: -5px;
}

.app-details__header {
  display: flex;
  justify-content: center;

  .character-class {
    height: 38px;
    width: 38px;
    margin-right: 10px;
  }
}

.icon-wow {
  background-position: 0 0;
  width: 70px;
  height: 70px;
  background-image: url("https://eu.battle.net/wow/static/images/nav-client/game-icons-70.png");
}

.app-details__character-item--link {
 
 .link {

   &:hover {
     text-decoration: underline;
   }
 }
}


.app-details__character-label {
  font-size: 12px;
  font-weight: 600;
  color: #999;
  margin-right: 10px;
}

.app-details__character-item {
  margin-bottom: 5px;
}