@import "../../node_modules/muicss/lib/sass/mui/_colors.scss"; // customize MUI variables

// customize MUI variables
$mui-primary-color:       mui-color('light-blue', '800');
$mui-primary-color-dark:  mui-color('light-blue', '900');
$mui-primary-color-light: mui-color('light-blue', '500');

$mui-secondary-color: mui-color('white-alpha-30');
$mui-secondary-color-dark: mui-color('white-alpha-12');
$mui-secondary-color-light: mui-color('white-alpha-70');

$mui-accent-color:        mui-color('light-green', '600');
$mui-accent-color-dark:   mui-color('light-green', '800');
$mui-accent-color-light:  mui-color('light-green', '300');

$mui-grid-columns: 24;

$mui-body-bg-color: mui-color('grey', '900');
$mui-hr-color: mui-color('white-alpha-12');
$mui-base-font-color: mui-color('white');
$mui-base-font-family: "Work Sans";
$mui-base-font-size: 16px;
$mui-base-font-weight: 300;

$mui-btn-default-bg-color: $mui-primary-color;
$mui-btn-primary-font-color: mui-color('white');
$mui-btn-default-ripple-color: lighten(mui-color('white'), 35%);
$mui-btn-flat-bg-color-hover: lighten(mui-color('white'), 5%);
$mui-btn-flat-ripple-color: lighten(mui-color('white'), 35%);

$mui-input-placeholder-color: mui-color('white-alpha-30');
$mui-label-font-color: mui-color('white-alpha-70');

$mui-panel-bg-color: mui-color('white-alpha-12');

$mui-divider-color: mui-color(white-alpha-12);

@import "../../node_modules/muicss/lib/sass/mui.scss";
@import "character.scss";

.mui-dropdown__menu > li > a {
    padding: 6px 20px;
    color: mui-color('black-alpha-87');
    &:hover {
        color: mui-color('black');
    }
    &[disabled] {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
}
.mui-btn--light {
    background: $mui-secondary-color;
    color: $mui-base-font-color;
}

.realm-list {
    max-height: 400px;
    overflow-y: auto;
}
