
$color-death-knight: #C41E3A;
$color-druid: #FF7D0A;
$color-hunter: #ABD473;
$color-mage: #69EEFF;
$color-monk: #00FF96;
$color-paladin: #F58CBA;
$color-priest: #FFFFFF;
$color-rogue: #EEE468;
$color-shaman: #2459FF;
$color-warlock: #9482CA;
$color-warrior: #C79C6E;
$color-demon-hunter: #b854d4;