@import "colors";
@import "base";
@import "overrides";
@import "account";
@import "common/panel/panel";
@import "components/application/app-form";
@import "components/application/app-details";
@import "components/application/message";
@import "components/roster/roster";

.character-class[data-character-class="hunter"] {
  color: $color-hunter;
}

.character-class[data-character-class="druid"] {
  color: $color-druid;
}

.character-class[data-character-class="mage"] {
  color: $color-mage;
}

.character-class[data-character-class="monk"] {
  color: $color-monk;
}

.character-class[data-character-class="paladin"] {
  color: $color-paladin;
}

.character-class[data-character-class="priest"] {
  color: $color-priest;
}

.character-class[data-character-class="rogue"] {
  color: $color-rogue;
}

.character-class[data-character-class="shaman"] {
  color: $color-shaman;
}

.character-class[data-character-class="warlock"] {
  color: $color-warlock;
}

.character-class[data-character-class="warrior"] {
  color: $color-warrior;
}

.character-class[data-character-class="deathknight"] {
  color: $color-death-knight;
}
.character-class[data-character-class="demonhunter"] {
  color: $color-demon-hunter;
}

.list--unstyled {
    padding-left: 0;
    list-style: none;
}

//Admin
.admin.page-admin-moonlight {
  background-color: #212121;
  .header {
    margin-bottom: 5px;
  }
}

.clickable {
  cursor: pointer;
}
